@font-face {
  font-family: 'Tangerine';
  src: url('/fonts/Tangerine-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tangerine';
  src: url('/fonts/Tangerine-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'goodCondensedBold';
  src: url('/fonts/FFGoodProXCond-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: 'goodCondensedMedium';
  src: url('/fonts/FFGoodProXCond-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'goodProRegular';
  src: url('/fonts/FFGoodPro-Regular.ttf') format('truetype');
  font-weight: 'normal';
  font-style: normal;
}
